.projectlist-title-text {
	backdrop-filter: blur(3px) brightness(90%); 
	height: 100%;
}

.projectlist-title {
	background-repeat: no-repeat;
  	color: white;
}

.project-title {
	position: absolute; 
	bottom: -1vh; 
	padding: 3vh; 
	color: white;
}
.lol-icon {
	position: absolute; 
	right: 0; 
	top: 0; 
	width: 10vh;
	height: 10vh;
}